<div style="background: rgb(79, 90, 110); height: 100vh; position: relative; display: grid;
            grid-template-areas: 'tools field info'; grid-template-columns: 100px auto 100px;">
    <div style="background-color: aquamarine">

    </div>
    <div style="background-color: white; position: relative; overflow: hidden; height: 100%;">
        <app-critters-canvas></app-critters-canvas>
        <app-time-control-panel class="m-1" style="position: absolute; right:30px; bottom: 30px;"></app-time-control-panel>
    </div>
    <div style="background-color: aquamarine">

    </div>


</div>
