<div style="height:100%; display: grid; position: relative; grid-template-areas: 'area1 area2' 'buttons1 buttons2'; 
            grid-template-columns: 50% 50%; grid-template-rows: auto max-content">
    <div style="display: grid; grid-template-rows: 'max-content auto'; grid-area: area1; color: black; position: relative">
        <div class="m-2">
            <label class="form-label">Article title</label>
            <input #articleName (input)="nameLength = articleName?.value?.length" [value]="article? article.name:''" class="form-control"
                   placeholder=" name of the configuration or principle">
            <label class="form-label text-danger" *ngIf="(nameLength??0)>80">the maximum name length is 80 ({{nameLength}})</label>
        </div>
        <div class="m-2" style="display: grid; grid-template-rows: 'max-content auto' ">
            <label class="form-label">Article text</label>
            <textarea #articleContent (input)="contentLength = articleContent?.value?.length" [value]="article? article.content:''" 
                      class="form-control" placeholder="description of the configuration or principle you found"></textarea>
            <label class="form-label text-danger" *ngIf="(contentLength??0)>10000">the maximum content length is 10000 ({{contentLength}})</label>
        </div>
    </div>

    <div style="background: rgb(255 106 0); grid-area: area2; color: white; position: relative">
        <app-critters-canvas></app-critters-canvas>
        <app-time-control-panel class="m-1" style="position: absolute; right:30px; bottom: 30px;"></app-time-control-panel>
    </div>
    <div style="background: rgb(240, 240, 240); grid-area: buttons1; color: white; position: relative ">
        <button class="btn btn-outline-danger m-2" (click)="onApprove()">Approve</button>
        <button class="btn btn-outline-danger m-2" (click)="onReject()">Reject</button>
        <button class="btn btn-outline-danger m-2" (click)="onDelete()">Delete</button>
    </div>
    <div style="background: rgb(240, 240, 240); grid-area: buttons2; position: relative ">
        <button class="btn btn-outline-success m-2 float-end" (click)="onPublish(articleName.value, articleContent.value)">Publish</button>
        <button class="btn btn-outline-success m-2 float-end" (click)="onSave(articleName.value, articleContent.value)">Save as draft</button>
    </div>
</div>
