<div style="background: green; height: 100vh; display: grid; position: relative; grid-template-areas: 'header1 header2' 'menu workArea';
            grid-template-columns: 200px auto;
            grid-template-rows: max-content auto">
    <div style="background: rgb(48, 59, 68); grid-area: header1; color: white; position: relative">
        <button class="btn btn-outline-light m-2" routerLink="/home"><i class="fas fa-home"></i> Home</button>
    </div>
    <div style="background: rgb(48, 59, 68); grid-area: header2; color: white; position: relative">
        <div class="input-group mt-2 float-start" style="width: 400px">
            <input #searchInput class="form-control" placeholder="something to find" aria-label="Find" aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary" type="button" (click)="OnSearch(searchInput.value)"><i class="fas fa-search"></i></button>
        </div>
        <button class="btn btn-success m-2 float-end" style="grid-area: header2" routerLink="edit/new">Create article</button>
    </div>
    <div style="background: rgb(79, 90, 110); width: 200px; grid-area: menu; color: white ">
        <a routerLink='article/Contents' class="link-light m-3" style="display: block">Contents</a>
        <a routerLink='article/Random' class="link-light m-3" style="display: block">Random article</a>
        <a routerLink='articles/All' class="link-light m-3" style="display: block">All articles</a>
        <a routerLink='articles/My' class="link-light m-3" style="display: block">My articles</a>
        <a routerLink='article/About' class="link-light m-3" style="display: block">About investigations</a>
    </div>
    <div style="background: white; grid-area: workArea; position: relative">
        <router-outlet></router-outlet>
    </div>
</div>
