<div class="modal"
     tabindex="-1"
     role="dialog"
     [ngStyle]="{'display':'block'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
            </div>            
            <div class="modal-body">
                <p class="text-danger" [hidden]="!registrationFailed">{{registrationError}}</p>
                <div #titleinput class="mb-3">
                    <label for="userInRegister" class="form-label">User name</label>
                    <input #userInput type="text" class="form-control" placeholder="User name" aria-label="User name" aria-describedby="basic-addon2"
                           value={{userName}} id="userInRegister"
                           (input)="userName = userInput.value">
                </div>
                <div #titleinput class="mb-3">
                    <label for="emailInRegister" class="form-label">Email</label>
                    <input #nameInput type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon2"
                           value={{eMail}} id="emailInRegister"
                           (input)="eMail = nameInput.value">
                </div>
                <div #titleinput class="mb-3">
                    <label for="passwordInRegister" class="form-label">Password</label>
                    <input #passInput type="password" class="form-control" aria-label="Password" aria-describedby="basic-addon2"
                           value={{password}} id="passwordInRegister"
                           (input)="password = passInput.value">
                </div>
                <div #titleinput class="mb-3">
                    <label for="passwordInRegister2" class="form-label">Repeat password</label>
                    <input #passInput2 type="password" class="form-control" aria-label="Repeat password" aria-describedby="basic-addon2"
                           value={{password2}} id="passwordInRegister2"
                           (input)="password2 = passInput2.value">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        (click)="onOkButton()">
                    Register
                </button>
                <button type="button" class="btn btn-primary"
                        (click)="onCancelButton()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>