<div style="background: black; height: 100vh; display: grid;
       grid-template-rows: max-content auto;">
    <div style="background: rgb(48, 59, 68); color: white; ">
        <button class="btn btn-outline-light m-2" routerLink="/home"><i class="fas fa-home"></i> Home</button>
        <button class="btn btn-outline-light m-2" (click)="onSaveButton()">Save</button>
        <button class="btn btn-outline-light m-2" (click)="onLoadButton()">Load</button>
    </div>
    <div style="background-color: white; position: relative; overflow: hidden">
        <app-critters-canvas></app-critters-canvas>
        <app-time-control-panel class="m-1" style="position: absolute; right:30px; bottom: 30px;"></app-time-control-panel>        
    </div>

    <div style="position: fixed">
        <ng-template component-container style="position: fixed"></ng-template>
    </div>

    <div class="modal"
         tabindex="-1"
         role="dialog"
         [ngStyle]="{'display':savePopup.savePopupDisplayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Save world</h4>
                </div>
                <div class="modal-body">
                    <select #saveTitlesSel multiple size="10" class="form-select" aria-label="Select slot to save"
                            style="overflow-y: auto;"
                            (change)="savePopup.onSlotSelect(saveTitlesSel.value)">
                        <option value={{title.slot}} *ngFor="let title of savePopup.titles">{{title.name}}</option>
                    </select>
                    <br />
                    <div #titleinput class="input-group mb-3">
                        <input #nameInput type="text" class="form-control" placeholder="World name" aria-label="Recipient's username" aria-describedby="basic-addon2"
                               value={{savePopup.saveName}}
                               [disabled]="savePopup.selectedSave==null"
                               (input)="savePopup.saveName = nameInput.value">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            (click)="savePopup.onPopupOk()"
                            [disabled]="savePopup.selectedSave==null"
                            >
                        Save
                    </button>
                    <button type="button" class="btn btn-primary"
                            (click)="savePopup.close()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal"
         tabindex="-1"
         role="dialog"
         [ngStyle]="{'display':loadPopup.loadPopupDisplayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Load world</h4>
                </div>
                <div class="modal-body">
                    <select #loadTitlesSel multiple size="10" class="form-select" aria-label="Select world"
                            style="overflow-y: auto;"
                            (change)="loadPopup.onSlotSelect(loadTitlesSel.value)">
                        <option value={{title.slot}} *ngFor="let title of loadPopup.titles">{{title.name}}</option>
                    </select>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            (click)="loadPopup.onPopupOk()"
                            [disabled]="loadPopup.selectedLoad==null || loadPopup.selectedLoad.id == -1">
                        Load
                    </button>
                    <button type="button" class="btn btn-primary"
                            (click)="loadPopup.close()">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

